@page
@model Charity.WebApp.Pages.ManageAdmin.AddNewEventModel
@{
    Layout = "~/Pages/Shared/AdminLayout.cshtml";
}
@using Charity.WebApp.Resources;
@inject LocService SharedLocalizer;
@using Enum
<style>
    .form-group span {
        color: red;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center" style="color:#3cc88f">@SharedLocalizer.GetLocalizedHtmlString("AddNewEvent")</h5>
                    <div class="d-flex flex-column text-center">

                        <form method="post" asp-page-handler="ChangeEventType">
                            <div class="form-group" style="padding-bottom:30px">
                                <select selected  asp-for="model.Type" onchange="this.form.submit()" class="form-control navbar-brand">
                                    <option value="1">@SharedLocalizer.GetLocalizedHtmlString("Image")</option>
                                    <option value="2">@SharedLocalizer.GetLocalizedHtmlString("Vedio")</option>

                                </select>
                            </div>
                        </form>

                        <form method="post" enctype="multipart/form-data" asp-page-handler="OnPost">
                            @if (Model.Type == 1)
                            {
                                <div class="form-group">
                                    <input type="text" asp-for="model.Descirption" class="form-control" id="description" placeholder="@SharedLocalizer.GetLocalizedHtmlString("EnterImageDescription")">

                                </div>
                                <div class="form-group">
                                    <input type="file" class="form-control" id="image" asp-for="ImageUploader">
                                </div>
                            }

                            @if (Model.Type == 2)
                            {
                                <div class="form-group">
                                    <input type="text" class="form-control" asp-for="model.Url" id="url" placeholder="@SharedLocalizer.GetLocalizedHtmlString("EnterURLOfVedio")">
                                </div>
                            }
                        <button type="submit" class="btn btn-success  btn-block btn-round  btn-style-three" style="color:white">@SharedLocalizer.GetLocalizedHtmlString("Add")</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $.ajax({
        type: 'POST',
        url: './ManageEvent/AddNewEvent',
        dataType: 'json',
        data: { id: '' },
        success: function (data) {
            alert("true");
        },
        error: function (ex) {
            var r = jQuery.parseJSON(response.responseText);
            alert("Message: " + r.Message);
            alert("StackTrace: " + r.StackTrace);
            alert("ExceptionType: " + r.ExceptionType);
        }
    });
    return false;
</script>