@page
@model Charity.WebApp.Pages.AboutModel
@{
    ViewData["Title"] = "About page";
}
@using Charity.WebApp.Resources;
@inject LocService SharedLocalizer;
<!-- Page Banner Section -->
<section class="page-banner">
    <div class="image-layer lazy-image" data-bg="url('images/background/bg-banner-1.jpg')"></div>
    <div class="bottom-rotten-curve alternate"></div>

    <div class="auto-container">
        <h1>About Us</h1>
        <ul class="bread-crumb clearfix">
            <li><a asp-page="/Index">@SharedLocalizer.GetLocalizedHtmlString("Home")</a></li>
            <li class="active">@SharedLocalizer.GetLocalizedHtmlString("About")</li>
        </ul>
    </div>

</section>
<!--End Banner Section -->
<!--About Section-->
<section class="about-section style-two alternate">
    <div class="circle-one"></div>
    <div class="circle-two"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <!--Left Column-->
            <div class="left-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="sec-title">
                        <div class="sub-title">@SharedLocalizer.GetLocalizedHtmlString("About")</div>
                        <h2>@SharedLocalizer.GetLocalizedHtmlString("PleaseRiseYourHelpingHand")</h2>
                        <div class="text" style="text-align: inherit;">
                            <span style="color: #20914b; font-size: 22px;font-weight: bold;">@SharedLocalizer.GetLocalizedHtmlString("about_head")</span> , @SharedLocalizer.GetLocalizedHtmlString("AboutContent")
                        </div>
                        @*<div class="link-box clearfix"><a href="causes.html" class="theme-btn btn-style-one"><span class="btn-title">Read More</span></a></div>*@
                    </div>
                </div>
            </div>
            <!--Right Column-->
            <div class="right-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="images clearfix">
                        <img src="~/images/about_us.png" />
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
