@page
@model Charity.WebApp.Pages.EventsModel
@{
}
@using Charity.WebApp.Resources;
@inject LocService SharedLocalizer;
<!-- Page Banner Section -->
<section class="page-banner">
    <div class="image-layer lazy-image" data-bg="url('images/background/bg-banner-1.jpg')"></div>
    <div class="bottom-rotten-curve"></div>

    <div class="auto-container">
        <h1>@SharedLocalizer.GetLocalizedHtmlString("Events")</h1>
        <ul class="bread-crumb clearfix">
            <li><a asp-page="Index">@SharedLocalizer.GetLocalizedHtmlString("Home")</a></li>
            <li class="active">@SharedLocalizer.GetLocalizedHtmlString("Events")</li>
        </ul>
    </div>

</section>
<!--End Banner Section -->
<!--Events Section-->
<section class="events-section">
    <div class="auto-container">

        <div class="row clearfix">

            @foreach (var item in Model.result)
            {
                <!--Event Block-->
                <div class="event-block-three col-lg-4 col-md-6 col-sm-12">

                    <div class="inner-box wow fadeInUp" data-wow-delay="0ms">
                        <div class="image-box">
                            <figure class="image"><a><img class="lazy-image" src="data:image/png;base64,@item.Image" alt="images" style="height:150px"></a></figure>
                            <div class="date"><span class="month">@item.Type</span></div>
                        </div>
                        <div class="lower-content">
                            <h3><a>@item.Description <br></a></h3>
                            <ul class="info clearfix">
                                <li><span class="icon far fa-clock"></span> @item.CreatedAt</li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
            @if (Model.result.Count == 0)
            {
                <div class="event-block-three col-lg-12 col-md-6 col-sm-12">
                    <p>@SharedLocalizer.GetLocalizedHtmlString("NoData")</p>
                </div>
            }
        </div>

    </div>
</section>